# Sample Logstash configuration for creating a simple
# Beats -> Logstash -> Elasticsearch pipeline.
# 输入输入
input {
      s3 {
        #access_key_id => "AKIAZ73JUSU4SMSYZHWV"
        #secret_access_key => "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"
        bucket => "aws-cloudtrail-logs-686879446329-01472d15"
        region => "cn-north-1"
        additional_settings => {
          force_path_style => "true"
          follow_redirects => "false"
        }
       codec => cloudtrail {}
      }
}
# 数据输出
output {
   # elasticsearch {
   #     hosts => ["http://127.0.0.1:9200"]
   #     index => "cloudtrail-%{+YYYY.MM.dd}"
   # }
     stdout { codec => rubydebug }
}
