# Sample Logstash configuration for creating a simple
# Beats -> Logstash -> Elasticsearch pipeline.
# 输入输入
input {
    cloudwatch_logs {
        log_group => [ "L2C-CN-NorthWest-VPC02-Log" ]
        #access_key_id => "AKIAZ73JUSU4SMSYZHWV"
        #secret_access_key => "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"
        region => "cn-northwest-1"
    }
}
# 数据处理
filter {
        grok {
                match => { "message" => "%{NUMBER:version} %{NUMBER:Account-id} %{NOTSPACE:eni-interface} %{IP:srcaddr} %{IP:dstaddr} %{NOTSPACE:srcport} %{NOTSPACE:desport} %{NOTSPACE:protocol} %{NOTSPACE:packets} %{NOTSPACE:bytes} %{NOTSPACE:start} %{NOTSPACE:end} %{NOTSPACE:action:int} %{NOTSPACE:logstatus}"}
                overwrite => ["message"]
        }
}
# 数据输出
output {
   # elasticsearch {
   #     hosts => ["http://127.0.0.1:9200"]
   #     index => "cloudtrail-%{+YYYY.MM.dd}"
   # }
     stdout { codec => rubydebug }
}
